<nav class="site-nav">
  <ul class="nav-list">
    {% for item in site.data.navigation.main %}
    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    <li class="nav-group">
      <span>技能创建者</span>
      <ul>
        {% for item in site.data.navigation.creators %}
        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="nav-group">
      <span>客户端实现</span>
      <ul>
        {% for item in site.data.navigation.clients %}
        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>